:root {
  --button-bg-color: #08244f;
  --button-bg-color-hover: #05152c;
  --bg-color: linear-gradient(
    135deg,
    rgb(8, 36, 79) 0%,
    rgb(19, 76, 181) 47.379%,
    rgb(11, 66, 171) 100%
  );
  --weather-info-bg-color: rgba(0, 16, 38, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
